@import '../../variables.module.scss';

.footer{
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  background-color: $surface;
  border-top: 1px solid $surface-medium;
  gap: 1em

}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  a{
    display: flex;
    align-items: center;
  }
}

.subHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2{
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    font-family: var(--font-playfair-display);
    color: $surface-dark;
  }
  p{
    font-size: 12px;
    margin: 0 1em 0 1em;
    padding: 0;
    color: $surface-dark;
  }
}