@import '../../variables.module.scss';

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  nav {
    width: 100%;

    .burgerIcon{
      display: none;
      margin: 1em;
    }
  
    ul{
      display: flex;
      flex-direction: row;
      margin: 0px;
      padding: 15px;
      z-index: 1;
      background-color: $surface;
      border-bottom: solid 1px $surface-medium;
      gap: 1em;
  
      li{
        display: inline-block;
      }
    }

    a{
      font-weight: 400;
    }
  }
}

@media (max-width: 550px) {

  .navContainer{
    nav{
      display: unset;

      .burgerIcon{
        display: inline-block; 
      }

      &:hover ul{
        transition: 1s;
        left: 0;
      }

      ul{
        position: fixed;
        background-color: $surface;
        border-right: solid 1px $surface-medium;
        border-bottom: unset ;
        display: unset;
        height: 100vh;
        padding: 1em;
        left: -100%;
        transition: 1s;

        li{
          display: block;
          margin: 0.5em;
        }     
      }
    }
  }
}

