@import '../../variables.module.scss';

.events{
  gap: 1em;
  width: 100%;

  ul{
    padding: 0;
    list-style-type: none;

    li{
      &:not(:last-child){
        margin-bottom: 1em;
      }

      a:hover{
        color: $surface-very-dark;
      }
    }
  }

  h1{
    margin: 0;
    color: $primary
  }

}

.eventDate{
  color: $surface-dark;
  font-size: 16px;
  margin: 0px;
  font-weight: 600;
}

.eventLine{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

  *{
    height: 100%;
    margin: 0px;
    text-align: center;
  }
}

.eventTitle{
  font-size: 20px;
  font-weight: 600;
}

.eventLocation{
  font-size: 16px;
  font-weight: 400;
}

.eventBreak{
  color: $secondary-dark
}
