@import '../../variables.module.scss';

.events{
  gap: 1em;
  width: 100%;

  ul{
    padding-left: 20px;

    li{
      &::marker {
        color: $primary-0;
      }

      &:hover::marker{
        color: $secondary-1
      }

      &:not(:last-child){
        margin-bottom: 1em;
      }

      a:hover{
        color: $surface-6;
      }
    }
  }
}

.eventLine{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;

  *{
    height: 100%;
    margin: 0px;
  }
}

.eventTitle{
  font-size: 16px;
  font-weight: 600;
}

.eventDate{
  color: $surface-5;
  font-size: 12px;
  margin: 0px;
  font-weight: 400;
}